

.header {
  width: 100%;
  border-bottom: 1px solid #eee;
  background-color: white;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
}

.header-container {
  width: 100%;
  max-width: none;
  margin: 0;
  padding: 0 24px;
  height: 64px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ===== Left ===== */

.header-left {
  display: flex;
  align-items: center;
  gap: 80px;
}

.logo-web {

  font-size: 15px;
  font-weight: bold;
}

.nav-desktop {
  display: flex;
  gap: 30px;
}

.nav-item {
  font-size: 14px;
  color: #666;
  text-decoration: none;
  transition: 0.2s;
}

.nav-item:hover {

  background-color: var(--color-danger);
    color: white;
    border-radius: 30px;
    padding: 8px 16px;
}

/* ===== Right ===== */

.header-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.notification {
  position: relative;
  cursor: pointer;
}

.badge {
  position: absolute;
  top: -6px;
  right: -6px;
  background: red;
  color: white;
  font-size: 10px;
  padding: 2px 6px;
  border-radius: 50%;
}

.avatar {
  width: 32px;
  height: 32px;
  background: #ddd;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* ===== Mobile button ===== */

.menu-btn {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

/* ===== Mobile nav ===== */

.nav-mobile {
  display: none;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
}

@media (max-width: 768px) {
  .nav-desktop {
    display: none;
  }

  .menu-btn {
    display: block;
  }

  .nav-mobile {
    display: flex;
  }
}
